@import "tailwindcss";
@keyframes scrollVertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scrollVertical {
  animation: scrollVertical 12s linear infinite;
}
html, body {
  max-width: 100%;
  overflow: hidden;
}